local.properties
.DS_Store
*.iml
*.ipr
*.iws
.gradle
/build
gradle/build
tests/*/build
samples/*/build
samples/multiproject/*/build
samples/tictactoe/*/build
samples/applibtest/*/build
samples/flavorlib/*/build
samples/libsTest/*/build
samples/repo/*/build
/repo
/out
