local.properties
.DS_Store
*.iml
*.ipr
*.iws
.gradle
/build
gradle/build
tests/*/build
tests/*/build
tests/multiproject/*/build
tests/tictactoe/*/build
tests/applibtest/*/build
tests/flavorlib/*/build
tests/libsTest/*/build
tests/repo/*/build
/repo
/out
